In [105]:
#Reset All Data
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

# Daftar semua database
for db_name in client.list_database_names():
    if db_name not in ['admin', 'local', 'config']:
        print(f"Deleted: {db_name}")
        client.drop_database(db_name)

print('All Data Clean Up')

Deleted: university_db
All Data Clean Up

# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [106]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']
students_collection = db['students']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]

courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [107]:
# Insert, Update and Delete
operations = [
    InsertOne({'course': 'Big Data', 'enrollments' : 30, 'department': 'Computer Science'}),
    InsertOne({'course': 'Kriptografi CS 104', 'enrollments' : 40, 'department': 'Computer Science'}),
    UpdateOne({'course': 'Big Data'}, {'$set': {'course': 'Big Data CS 103'}}),
    DeleteOne({'course': 'Kriptografi CS 104'})
]
courses_collection.bulk_write(operations)
print('Courses inserted, Updated and Deleted successfully.')

Courses inserted, Updated and Deleted successfully.

In [108]:
for a in courses_collection.find():
    print(a)

{'_id': ObjectId('691355e26e1aa59dea2c9162'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('691355e26e1aa59dea2c9163'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('691355e26e1aa59dea2c9164'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('691355e26e1aa59dea2c9165'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}
{'_id': ObjectId('691355e46e1aa59dea2c9166'), 'course': 'Big Data CS 103', 'enrollments': 30, 'department': 'Computer Science'}

In [109]:
# Create Students Data
students = [
    {'name': 'Budi', 'courses': ['Math 101', 'CS 102']},
    {'name': 'Siti', 'courses': ['Math 101', 'Big Data CS 103']},
    {'name': 'Rizky', 'courses': ['CS 102', 'Physics 202']},
    {'name': 'Farah', 'courses': ['History 201', 'Math 101']},
    {'name': 'Kevin', 'courses': ['CS 102', 'Big Data CS 103']},
    {'name': 'Dewi', 'courses': ['Physics 202', 'History 201']},
    {'name': 'Samuel', 'courses': ['Math 101', 'Physics 202']},
    {'name': 'Tiara', 'courses': ['Big Data CS 103', 'History 201']},
    {'name': 'Rafa', 'courses': ['CS 102', 'Math 101', 'Physics 202']}
]
students_collection.insert_many(students)
print('Data Students Inserted')

Data Students Inserted

In [110]:
for s in students_collection.find():
    print(s)

{'_id': ObjectId('691355e96e1aa59dea2c9168'), 'name': 'Budi', 'courses': ['Math 101', 'CS 102']}
{'_id': ObjectId('691355e96e1aa59dea2c9169'), 'name': 'Siti', 'courses': ['Math 101', 'Big Data CS 103']}
{'_id': ObjectId('691355e96e1aa59dea2c916a'), 'name': 'Rizky', 'courses': ['CS 102', 'Physics 202']}
{'_id': ObjectId('691355e96e1aa59dea2c916b'), 'name': 'Farah', 'courses': ['History 201', 'Math 101']}
{'_id': ObjectId('691355e96e1aa59dea2c916c'), 'name': 'Kevin', 'courses': ['CS 102', 'Big Data CS 103']}
{'_id': ObjectId('691355e96e1aa59dea2c916d'), 'name': 'Dewi', 'courses': ['Physics 202', 'History 201']}
{'_id': ObjectId('691355e96e1aa59dea2c916e'), 'name': 'Samuel', 'courses': ['Math 101', 'Physics 202']}
{'_id': ObjectId('691355e96e1aa59dea2c916f'), 'name': 'Tiara', 'courses': ['Big Data CS 103', 'History 201']}
{'_id': ObjectId('691355e96e1aa59dea2c9170'), 'name': 'Rafa', 'courses': ['CS 102', 'Math 101', 'Physics 202']}

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [111]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('691355e26e1aa59dea2c9162'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('691355e26e1aa59dea2c9163'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('691355e46e1aa59dea2c9166'), 'course': 'Big Data CS 103', 'enrollments': 30, 'department': 'Computer Science'}

In [112]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('691355e26e1aa59dea2c9162'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('691355e26e1aa59dea2c9163'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('691355e46e1aa59dea2c9166'), 'course': 'Big Data CS 103', 'enrollments': 30, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [113]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 27.5}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [67]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'max_enrollment': 20}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Computer Science', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [114]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('691355e26e1aa59dea2c9162'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('691355e26e1aa59dea2c9163'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('691355e26e1aa59dea2c9164'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('691355e26e1aa59dea2c9165'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('691355e46e1aa59dea2c9166'), 'enrollments': 30, 'course_name': 'Big Data CS 103', 'department_name': 'Computer Science'}

In [116]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('691355e26e1aa59dea2c9162'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('691355e26e1aa59dea2c9163'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('691355e26e1aa59dea2c9164'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('691355e26e1aa59dea2c9165'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('691355e46e1aa59dea2c9166'), 'course': 'Big Data CS 103', 'enrollments': 30, 'department': 'Computer Science', 'enrollment_category': 'high'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [117]:
# Homework 1: Perform an aggregation to get a count of courses per department.
pipeline = [
    {'$group':
     {'_id': '$department',
      'total_courses': {'$sum': 1}
     }
    }
]

for b in courses_collection.aggregate(pipeline):
    print(b)

{'_id': 'History', 'total_courses': 1}
{'_id': 'Mathematics', 'total_courses': 1}
{'_id': 'Computer Science', 'total_courses': 2}
{'_id': 'Physics', 'total_courses': 1}

In [118]:
# Homework 2: Use $match and $group together to filter and get only courses with enrollments over 25 in 'Computer Science'.
pipeline = [
    {'$match':
     {'department': 'Computer Science',
      'enrollments': { '$gt': 25 }
     }
    },
    {'$group':
     {'_id': '$department',
      'total_courses': { '$sum': 1 },
      'courses': { '$push': '$course' }
     }
    }
]

for c in courses_collection.aggregate(pipeline):
    print(c)

{'_id': 'Computer Science', 'total_courses': 1, 'courses': ['Big Data CS 103']}

In [119]:
# Homework 3: Apply $lookup to join courses collection with students collection based on student enrollments.

pipeline = [
    {"$lookup": {
        "from": "students",
        "localField": "course",
        "foreignField": "courses",
        "as": "student_details"}
    },
    {"$project": {
        "_id": 0,
        "course": 1,
        "department": 1,
        "enrollments": 1,
        "students_enrolled": "$student_details.name"}
    }
]


for d in courses_collection.aggregate(pipeline):
    print(d)

{'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'students_enrolled': ['Budi', 'Siti', 'Farah', 'Samuel', 'Rafa']}
{'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'students_enrolled': ['Budi', 'Rizky', 'Kevin', 'Rafa']}
{'course': 'History 201', 'enrollments': 20, 'department': 'History', 'students_enrolled': ['Farah', 'Dewi', 'Tiara']}
{'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'students_enrolled': ['Rizky', 'Dewi', 'Samuel', 'Rafa']}
{'course': 'Big Data CS 103', 'enrollments': 30, 'department': 'Computer Science', 'students_enrolled': ['Siti', 'Kevin', 'Tiara']}