In [10]:
#Reset All Data
from pymongo import MongoClient

client = MongoClient('mongodb://localhost:27017/')

# Daftar semua database
for db_name in client.list_database_names():
    if db_name not in ['admin', 'local', 'config']:
        print(f"Deleted: {db_name}")
        client.drop_database(db_name)

print('All Data Clean Up')

All Data Clean Up

# Hands-On Pertemuan 10: Implementasi NoSQL Database - MongoDB

## Tujuan:
- Mengenal konsep dasar dan pengimplementasian database NoSQL, khususnya MongoDB.
- Melakukan berbagai operasi dasar pada MongoDB untuk analisis data.
- Mengasah keterampilan dalam menulis query yang lebih kompleks.

### 1. Menghubungkan ke Database MongoDB
- **Tugas 1**: Pastikan MongoDB telah terpasang dan berjalan. Hubungkan ke MongoDB lokal.

In [11]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

### 2. Operasi CRUD Dasar
- **Tugas 2**: Insert, Update, dan Delete data pada koleksi `employees`.

In [12]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
# Insert Data
employee_dataplus = [
    {'name': 'Yoff', 'department': 'IT', 'age': 27, 'salary': 5000},
    {'name': 'Guts', 'department': 'Finance', 'age': 28, 'salary': 4300},
    {'name': 'Fitya', 'department': 'Marketing', 'age': 26, 'salary': 2000},
    {'name': 'Novaria', 'department': 'HR', 'age': 26, 'salary': 6500},
    {'name': 'Hero', 'department': 'HR', 'age': 32, 'salary': 6350},
    {'name': 'Mecha', 'department': 'IT', 'age': 21, 'salary': 4300},
    {'name': 'Rockstar', 'department': 'IT', 'age': 29, 'salary': 4850},
    {'name': 'Bianca', 'department': 'Marketing', 'age': 19, 'salary': 1900},
    {'name': 'Sera', 'department': 'Manajemen', 'age': 31, 'salary': 4840},
    {'name': 'Angela', 'department': 'CEO', 'age': 30, 'salary': 8000}
]

collection.insert_many(employee_dataplus)
print('Data Employee Inserted')

Data inserted
Data Employee Inserted

In [13]:
# Update Data
collection.update_one({'name': 'Yoff'}, {'$set': {'name': 'Yofi'}})
print('Data Name Yoff Updated to Yofi')

Data Name Yoff Updated to Yofi

In [14]:
# Delete Data
collection.delete_one({'name': 'Guts'})
print('Data Guts Deleted')

Data Guts Deleted

In [15]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('690b44dd9fc10eba40c237ca'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690b44dd9fc10eba40c237cb'), 'name': 'Yofi', 'department': 'IT', 'age': 27, 'salary': 5000}
{'_id': ObjectId('690b44dd9fc10eba40c237cd'), 'name': 'Fitya', 'department': 'Marketing', 'age': 26, 'salary': 2000}
{'_id': ObjectId('690b44dd9fc10eba40c237ce'), 'name': 'Novaria', 'department': 'HR', 'age': 26, 'salary': 6500}
{'_id': ObjectId('690b44dd9fc10eba40c237cf'), 'name': 'Hero', 'department': 'HR', 'age': 32, 'salary': 6350}
{'_id': ObjectId('690b44dd9fc10eba40c237d0'), 'name': 'Mecha', 'department': 'IT', 'age': 21, 'salary': 4300}
{'_id': ObjectId('690b44dd9fc10eba40c237d1'), 'name': 'Rockstar', 'department': 'IT', 'age': 29, 'salary': 4850}
{'_id': ObjectId('690b44dd9fc10eba40c237d2'), 'name': 'Bianca', 'department': 'Marketing', 'age': 19, 'salary': 1900}
{'_id': ObjectId('690b44dd9fc10eba40c237d3'), 'name': 'Sera', 'department': 'Manajemen', 'age': 31, 'salary': 4840}
{'_id': ObjectId('690b44dd9fc10eba40c237d4'), 'name': 'Angela', 'department': 'CEO', 'age': 30, 'salary': 8000}

### 3. Query Lebih Kompleks Menggunakan Aggregation
- **Tugas 3**: Terapkan aggregation untuk menghitung rata-rata gaji per departemen.

In [16]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department',
                'average_salary': {'$avg': '$salary'}
               }
    }
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'CEO', 'average_salary': 8000.0}
{'_id': 'HR', 'average_salary': 6425.0}
{'_id': 'IT', 'average_salary': 4716.666666666667}
{'_id': 'Marketing', 'average_salary': 1950.0}
{'_id': 'Manajemen', 'average_salary': 4840.0}

### 4. Latihan Tambahan
- **Latihan 4.1**: Buatlah koleksi baru `products` dan masukkan data produk (minimal 10 produk).
- **Latihan 4.2**: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
- **Latihan 4.3**: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.

In [17]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db1 = client['store_db']
collection1 = db1['products']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB1')

Connected to MongoDB1

In [18]:
# Latihan 4.1: Buatlah koleksi baru products dan masukkan data produk (minimal 10 produk).
products = [
    {'nama': 'bank-bank', 'kategori': 'snack', 'harga': 2000},
    {'nama': 'pepsodend', 'kategori': 'mandi', 'harga': 4500},
    {'nama': 'chocodrink', 'kategori': 'minuman', 'harga': 2500},
    {'nama': 'sabun', 'kategori': 'mandi', 'harga': 3000},
    {'nama': 'shampo', 'kategori': 'mandi', 'harga': 1000},
    {'nama': 'okki', 'kategori': 'minuman', 'harga': 1000},
    {'nama': 'aquo', 'kategori': 'minuman', 'harga': 3500},
    {'nama': 'sponge', 'kategori': 'snack', 'harga': 5000},
    {'nama': 'pensil', 'kategori': 'atk', 'harga': 1500},
    {'nama': 'buku', 'kategori': 'atk', 'harga': 2000}
]

collection1.insert_many(products)
print('Products Inserted')

Products Inserted

In [19]:
# Latihan 4.2: Lakukan query untuk menemukan produk dengan harga di atas rata-rata.
for i in collection1.find({'harga': {'$gte': 3000}}):
    print(f"- {i['nama']} : Rp{i['harga']}")

- pepsodend : Rp4500
- sabun : Rp3000
- aquo : Rp3500
- sponge : Rp5000

In [20]:
# Latihan 4.3: Buatlah aggregation pipeline untuk menghitung total produk dalam setiap kategori.
pipeline1 = [
    {'$group': {'_id': '$kategori',
                'total_produk': {'$sum': 1}
               }
    }
]

for j in collection1.aggregate(pipeline1):
    print(f'- {j['_id']}: {j['total_produk']} Produk')

- minuman: 3 Produk
- mandi: 3 Produk
- snack: 2 Produk
- atk: 2 Produk

### 5. Tugas
- **Tugas 1**: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
- **Tugas 2**: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
- **Tugas 3**: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.

In [21]:
# Tugas 1: Cari 5 karyawan dengan gaji tertinggi dalam setiap departemen, gunakan query atau aggregation yang sesuai.
high_dept = [
    {'$sort': {'department': 1, 'salary': -1}},
    {
        '$group': {
            '_id': '$department',
            'top_5': {'$push': {'name': '$name', 'salary': '$salary'}}
        }
    },
    {
        '$project': {
            'top_5': {'$slice': ['$top_5', 5]}
        }
    }
]

for a in collection.aggregate(high_dept):
    print(f"\nDepartemen: {a['_id']}")
    for emp in a['top_5']:
        print(f" - {emp['name']} (Gaji: {emp['salary']})")

Departemen: HR
 - Novaria (Gaji: 6500)
 - Hero (Gaji: 6350)

Departemen: IT
 - Yofi (Gaji: 5000)
 - Rockstar (Gaji: 4850)
 - Mecha (Gaji: 4300)

Departemen: Marketing
 - Fitya (Gaji: 2000)
 - Bianca (Gaji: 1900)

Departemen: CEO
 - Angela (Gaji: 8000)

Departemen: Finance
 - Alice (Gaji: 4500)

Departemen: Manajemen
 - Sera (Gaji: 4840)

In [22]:
# Tugas 2: Buatlah skenario di mana Anda harus menghapus karyawan yang berusia di bawah 25 tahun dari database.
dlt25 = collection.delete_many({'age': {'$lt': 25}})
print('Deleted:', dlt25.deleted_count)

Deleted: 2

In [23]:
# Tugas 3: Buatlah laporan ringkas (menggunakan MongoDB query) yang menghitung total gaji karyawan di setiap departemen, serta rata-rata umur karyawan.
doc = [
    {'$group': {
        '_id': '$department',
        'total_gaji': {'$sum': '$salary'},
        'rata_umur': {'$avg': '$age'}
    }}
]


for b in collection.aggregate(doc):
    print(f'Departemen: {b['_id']}')
    print(f'  Total Gaji : {b['total_gaji']}')
    print(f'  Rata-rata Umur : {b['rata_umur']:.2f}')
    print()

Departemen: IT
  Total Gaji : 9850
  Rata-rata Umur : 28.00

Departemen: Marketing
  Total Gaji : 2000
  Rata-rata Umur : 26.00

Departemen: HR
  Total Gaji : 12850
  Rata-rata Umur : 29.00

Departemen: CEO
  Total Gaji : 8000
  Rata-rata Umur : 30.00

Departemen: Finance
  Total Gaji : 4500
  Rata-rata Umur : 29.00

Departemen: Manajemen
  Total Gaji : 4840
  Rata-rata Umur : 31.00