### 1. Pengenalan Spark DataFrames
Spark DataFrame menyediakan struktur data yang optimal dengan operasi yang dioptimalkan untuk pemrosesan data besar, yang sangat mirip dengan DataFrame di Pandas atau di RDBMS.

- **Tugas 1**: Buat DataFrame sederhana di Spark dan eksplorasi beberapa fungsi dasar yang tersedia.

In [65]:
# Contoh membuat DataFrame sederhana dan operasi dasar
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HandsOnPertemuan3').getOrCreate()

data = [('James', 'Sales', 3000),
        ('Michael', 'Sales', 4600),
        ('Robert', 'Sales', 4100),
        ('Maria', 'Finance', 3000)]
columns = ['EmployeeName', 'Department', 'Salary']

df = spark.createDataFrame(data, schema=columns)
df.show()

+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|       James|     Sales|  3000|
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
|       Maria|   Finance|  3000|
+------------+----------+------+

### 2. Transformasi Dasar dengan DataFrames
Pemrosesan data meliputi transformasi seperti filtering, selections, dan aggregations. Spark menyediakan cara efisien untuk melaksanakan operasi ini.

- **Tugas 2**: Gunakan operasi filter, select, groupBy untuk mengekstrak informasi dari data, serta lakukan agregasi data untuk mendapatkan insight tentang dataset menggunakan perintah seperti mean, max, sum.

In [ ]:
# Contoh operasi transformasi DataFrame
select('EmployeeName', 'Salary').show()
filter(df['Salary'] > 3000).show()
groupBy('Department').avg('Salary').show()

In [76]:
#Select kolom tertentu
print("Data Kolom EmployeeName dan Salary")
df.select('EmployeeName', 'Salary').show()

#Filter gaji lebih dari 3000
print("Salary above 3000")
df.filter(df['Salary'] > 3000).show()

#GroupBy Department dan hitung rata-rata gaji
print("Mean Salary per Department")
df.groupBy('Department').avg('Salary').show()

#GroupBy Department dan hitung nilai maksimum gaji
print("Salary Max per Department")
df.groupBy('Department').max('Salary').show()

#GroupBy Department dan hitung total gaji
print("Total Salary per Department")
df.groupBy('Department').sum('Salary').show()

Data Kolom EmployeeName dan Salary
+------------+------+
|EmployeeName|Salary|
+------------+------+
|       James|  3000|
|     Michael|  4600|
|      Robert|  4100|
|       Maria|  3000|
+------------+------+

Salary above 3000
+------------+----------+------+
|EmployeeName|Department|Salary|
+------------+----------+------+
|     Michael|     Sales|  4600|
|      Robert|     Sales|  4100|
+------------+----------+------+

Mean Salary per Department
+----------+-----------+
|Department|avg(Salary)|
+----------+-----------+
|     Sales|     3900.0|
|   Finance|     3000.0|
+----------+-----------+

Salary Max per Department
+----------+-----------+
|Department|max(Salary)|
+----------+-----------+
|     Sales|       4600|
|   Finance|       3000|
+----------+-----------+

Total Salary per Department
+----------+-----------+
|Department|sum(Salary)|
+----------+-----------+
|     Sales|      11700|
|   Finance|       3000|
+----------+-----------+

### 3. Bekerja dengan Tipe Data Kompleks
Spark mendukung tipe data yang kompleks seperti maps, arrays, dan structs yang memungkinkan operasi yang lebih kompleks pada dataset yang kompleks.

- **Tugas 3**: Eksplorasi bagaimana mengolah tipe data kompleks dalam Spark DataFrames.

In [ ]:
# Contoh manipulasi tipe data kompleks
df.withColumn('SalaryBonus', df['Salary'] * 0.1).show()
df.withColumn('TotalCompensation', df['Salary'] + df['SalaryBonus']).show()

In [127]:
# Contoh manipulasi tipe data kompleks
from pyspark.sql.functions import explode
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, MapType

# Tambah kolom Array Skill
data_array = [
    ('James', 'Sales', 3000, ["Excel", "PowerPoint"]),
    ('Michael', 'Sales', 4600, ["Python", "SQL"]),
    ('Robert', 'Sales', 4100, ["Java", "Scala"]),
    ('Maria', 'Finance', 3000, ["Accounting", "Excel"])
]

columns_array = ['EmployeeName', 'Department', 'Salary', 'Skills']
df_array = spark.createDataFrame(data_array, schema=columns_array)

print("Data dengan Skills")
df_array.show(truncate=False)

# Explode array ke baris terpisah
print("Data EmployeeName dan Skill")
df_array.select("EmployeeName", explode("Skills").alias("Skill")).show()

#Tambah kolom Struct addres
data_struct = [
    ('James', 'Sales', 3000, ("Gotham", 1231)),
    ('Michael', 'Sales', 4600, ("Untid", 1232)),
    ('Robert', 'Sales', 4100, ("Bikini Bottom", 1233)),
    ('Maria', 'Finance', 3000, ("Destian", 1234))
]

schema_struct = StructType([
    StructField("EmployeeName", StringType(), True),
    StructField("Department", StringType(), True),
    StructField("Salary", IntegerType(), True),
    StructField("Address", StructType([
        StructField("City", StringType(), True),
        StructField("Zipcode", IntegerType(), True)
    ]))
])

df_struct = spark.createDataFrame(data_struct, schema=schema_struct)

print("Data dengan Addres")
df_struct.show(truncate=False)

# Akses field nested
print("Data EmployeeName, City, dan Zipcode")
df_struct.select("EmployeeName", "Address.City", "Address.Zipcode").show()

Data dengan Skills
+------------+----------+------+-------------------+
|EmployeeName|Department|Salary|Skills             |
+------------+----------+------+-------------------+
|James       |Sales     |3000  |[Excel, PowerPoint]|
|Michael     |Sales     |4600  |[Python, SQL]      |
|Robert      |Sales     |4100  |[Java, Scala]      |
|Maria       |Finance   |3000  |[Accounting, Excel]|
+------------+----------+------+-------------------+

Data EmployeeName dan Skill
+------------+----------+
|EmployeeName|     Skill|
+------------+----------+
|       James|     Excel|
|       James|PowerPoint|
|     Michael|    Python|
|     Michael|       SQL|
|      Robert|      Java|
|      Robert|     Scala|
|       Maria|Accounting|
|       Maria|     Excel|
+------------+----------+

Data dengan Addres
+------------+----------+------+---------------------+
|EmployeeName|Department|Salary|Address              |
+------------+----------+------+---------------------+
|James       |Sales     |3000  |{Gotham, 1231}       |
|Michael     |Sales     |4600  |{Untid, 1232}        |
|Robert      |Sales     |4100  |{Bikini Bottom, 1233}|
|Maria       |Finance   |3000  |{Destian, 1234}      |
+------------+----------+------+---------------------+

Data EmployeeName, City, dan Zipcode
+------------+-------------+-------+
|EmployeeName|         City|Zipcode|
+------------+-------------+-------+
|       James|       Gotham|   1231|
|     Michael|        Untid|   1232|
|      Robert|Bikini Bottom|   1233|
|       Maria|      Destian|   1234|
+------------+-------------+-------+

### 4. Operasi Data Lanjutan
Menggunakan Spark untuk operasi lanjutan seperti window functions, user-defined functions (UDFs), dan mengoptimalkan query.

- **Tugas 4**: Implementasikan window function untuk menghitung running totals atau rangkings.

In [128]:
# Contoh menggunakan window functions
from pyspark.sql.window import Window
from pyspark.sql import functions as F

windowSpec = Window.partitionBy('Department').orderBy('Salary')
df.withColumn('Rank', F.rank().over(windowSpec)).show()

+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

In [129]:
# Import library
from pyspark.sql.window import Window
from pyspark.sql import functions as F

# WindowSpec: kelompokkan per Department, urutkan berdasarkan Salary
windowSpec = Window.partitionBy('Department').orderBy('Salary')

# Contoh menggunakan window functions untuk ranking
df_with_rank = df.withColumn('Rank', F.rank().over(windowSpec))
print("Penggunaan window functions untuk ranking")
df_with_rank.show()

# Contoh menggunakan window functions untuk running total
df_running = df.withColumn('RunningTotal', F.sum('Salary').over(windowSpec))
print("Penggunaan window functions untuk running total")
df_running.show()

Penggunaan window functions untuk ranking
+------------+----------+------+----+
|EmployeeName|Department|Salary|Rank|
+------------+----------+------+----+
|       Maria|   Finance|  3000|   1|
|       James|     Sales|  3000|   1|
|      Robert|     Sales|  4100|   2|
|     Michael|     Sales|  4600|   3|
+------------+----------+------+----+

Penggunaan window functions untuk running total
+------------+----------+------+------------+
|EmployeeName|Department|Salary|RunningTotal|
+------------+----------+------+------------+
|       Maria|   Finance|  3000|        3000|
|       James|     Sales|  3000|        3000|
|      Robert|     Sales|  4100|        7100|
|     Michael|     Sales|  4600|       11700|
+------------+----------+------+------------+

### 5. Kesimpulan dan Eksplorasi Lebih Lanjut
Review apa yang telah dipelajari tentang pemrosesan data menggunakan Spark dan eksplorasi teknik lebih lanjut untuk mengoptimalkan pemrosesan data Anda.
<br>**Tugas 5**:
- Unduh dataset besar dari [Kaggle](https://www.kaggle.com/) atau sumber lainnya.
- Input data csv yang telah di download, kemudian load dan simpan data ke dalam pyspark.
- Setelah data berhasil di load menggunakan pyspark, lakukan manipulasi data untuk memperoleh informasi yang dibutuhkan

In [124]:
from pyspark.sql import SparkSession

# Inisialisasi SparkSession
spark = SparkSession.builder.appName("DPR-RI").getOrCreate()

# Load dataset dari CSV
df_dpr = spark.read.csv("Anggota DPR RI 2024-2029.csv", header=True, inferSchema=True)

# Tampilkan beberapa baris awal
df_dpr.show()

# Cek skema dataset
df_dpr.printSchema()

+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+--------------+------------------+
|No. Anggota|Daerah pemilihan|                Nama|Jenis Kelamin|     Komisi|  Fraksi|             Jabatan|      Provinsi|           Koalisi|
+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+--------------+------------------+
|          1|          Aceh I|H. Irmawan S.Sos....|    Laki-Laki|   Komisi V|     PKB|                   -|          Aceh|           Oposisi|
|        155|          Aceh I|Jamaluddin Idham ...|    Laki-Laki|Komisi XIII|   PDI-P|                   -|          Aceh|           Oposisi|
|        264|          Aceh I|Drs. H. T. Zulkar...|    Laki-Laki| Komisi VII|  Golkar|                   -|          Aceh|Koalisi Pemerintah|
|        366|          Aceh I|H. Muslim Ayub S....|    Laki-Laki|Komisi XIII|  NasDem|                   -|          Aceh|           Oposisi|
|        435|          Aceh I|             Ghufran|    Laki-Laki|  Komisi VI|     PKS|                   -|          Aceh|           Oposisi|
|        488|          Aceh I|H. Nazaruddin Dek...|    Laki-Laki| Komisi III|     PAN|Ketua Mahkamah Ke...|          Aceh|Koalisi Pemerintah|
|        536|          Aceh I|H. T. Ibrahim S.T...|    Laki-Laki|Komisi XIII|Demokrat|                   -|          Aceh|Koalisi Pemerintah|
|          2|         Aceh II|      H. Ruslan Daud|    Laki-Laki|   Komisi V|     PKB|                   -|          Aceh|           Oposisi|
|         69|         Aceh II|Ir. H. T. A. Khal...|    Laki-Laki|  Komisi IV|Gerindra|                   -|          Aceh|Koalisi Pemerintah|
|        265|         Aceh II|   H. Ilham Pangestu|    Laki-Laki|   Komisi V|  Golkar|Wakil Ketua Badan...|          Aceh|Koalisi Pemerintah|
|        266|         Aceh II| Samsul Bahri Tiyong|    Laki-Laki|Komisi XIII|  Golkar|                   -|          Aceh|Koalisi Pemerintah|
|        367|         Aceh II|Irsan Sosiawan M....|    Laki-Laki| Komisi XII|  NasDem|                   -|          Aceh|           Oposisi|
|        436|         Aceh II|M. Nasir Djamil M...|    Laki-Laki| Komisi III|     PKS|                   -|          Aceh|           Oposisi|
|          3|Sumatera Utara I|     Ashari Tambunan|    Laki-Laki|Komisi VIII|     PKB|                   -|Sumatera Utara|           Oposisi|
|         70|Sumatera Utara I|   Ade Jona Prasetyo|    Laki-Laki| Komisi XII|Gerindra|                   -|Sumatera Utara|Koalisi Pemerintah|
|         71|Sumatera Utara I| M. Husni S.E., M.M.|    Laki-Laki|Komisi VIII|Gerindra|                   -|Sumatera Utara|Koalisi Pemerintah|
|        156|Sumatera Utara I|      Dr. Sofyan Tan|    Laki-Laki|   Komisi X|   PDI-P|                   -|Sumatera Utara|           Oposisi|
|        157|Sumatera Utara I|Prof. Dr. Yasonna...|    Laki-Laki|Komisi XIII|   PDI-P|                   -|Sumatera Utara|           Oposisi|
|        267|Sumatera Utara I|Dr. H. Musa Rajek...|    Laki-Laki|   Komisi V|  Golkar|                   -|Sumatera Utara|Koalisi Pemerintah|
|        268|Sumatera Utara I|Kombes. Pol. (Pur...|    Laki-Laki|   Komisi X|  Golkar|                   -|Sumatera Utara|Koalisi Pemerintah|
+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+--------------+------------------+
only showing top 20 rows

root
 |-- No. Anggota: integer (nullable = true)
 |-- Daerah pemilihan: string (nullable = true)
 |-- Nama: string (nullable = true)
 |-- Jenis Kelamin: string (nullable = true)
 |-- Komisi: string (nullable = true)
 |-- Fraksi: string (nullable = true)
 |-- Jabatan: string (nullable = true)
 |-- Provinsi: string (nullable = true)
 |-- Koalisi: string (nullable = true)

In [152]:
# Contoh: pilih anggota dari Fraksi PDIP
df_dpr.filter(df_dpr.Fraksi == "PDI-P").show()

# Contoh: pilih anggota dari Provinsi Jawa Tengah
df_dpr.filter(df_dpr.Provinsi == "Jawa Tengah").show()

+-----------+--------------------+--------------------+-------------+-----------+------+--------------------+--------------------+-------+
|No. Anggota|    Daerah pemilihan|                Nama|Jenis Kelamin|     Komisi|Fraksi|             Jabatan|            Provinsi|Koalisi|
+-----------+--------------------+--------------------+-------------+-----------+------+--------------------+--------------------+-------+
|        155|              Aceh I|Jamaluddin Idham ...|    Laki-Laki|Komisi XIII| PDI-P|                   -|                Aceh|Oposisi|
|        156|    Sumatera Utara I|      Dr. Sofyan Tan|    Laki-Laki|   Komisi X| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        157|    Sumatera Utara I|Prof. Dr. Yasonna...|    Laki-Laki|Komisi XIII| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        158|   Sumatera Utara II|Drs. Rapidin Simb...|    Laki-Laki|Komisi XIII| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        159|   Sumatera Utara II| Sihar P. H. Sitorus|    Laki-Laki|  Komisi IX| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        160|  Sumatera Utara III|Bob Andika Mamana...|    Laki-Laki|  Komisi II| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        161|  Sumatera Utara III|    Bane Raja Manalu|    Laki-Laki| Komisi VII| PDI-P|                   -|      Sumatera Utara|Oposisi|
|        162|    Sumatera Barat I|Alex Indra Lukman...|    Laki-Laki|  Komisi IV| PDI-P|Wakil Ketua Komis...|      Sumatera Barat|Oposisi|
|        163|              Riau I|Hj. Dewi Juliani ...|    Perempuan| Komisi III| PDI-P|                   -|                Riau|Oposisi|
|        164|             Riau II|     Hj. Siti Aisyah|    Perempuan|Komisi XIII| PDI-P|                   -|                Riau|Oposisi|
|        165|               Jambi|  Edi Purwanto M.Si.|    Laki-Laki|   Komisi V| PDI-P|                   -|               Jambi|Oposisi|
|        166|  Sumatera Selatan I|Yulian Gunhar S.H...|    Laki-Laki| Komisi XII| PDI-P|                   -|    Sumatera Selatan|Oposisi|
|        167| Sumatera Selatan II|H. M. Giri Ramand...|    Laki-Laki|  Komisi II| PDI-P|                   -|    Sumatera Selatan|Oposisi|
|        168|            Bengkulu|  Eko Kurnia Ningsih|    Perempuan|  Komisi IX| PDI-P|                   -|            Bengkulu|Oposisi|
|        169|           Lampung I|  Drs. Mukhlis Basri|    Laki-Laki|   Komisi V| PDI-P|                   -|             Lampung|Oposisi|
|        170|           Lampung I|          Sudin S.E.|    Laki-Laki| Komisi III| PDI-P|                   -|             Lampung|Oposisi|
|        171|          Lampung II|drh. I Ketut Suwe...|    Laki-Laki|  Komisi IV| PDI-P|                   -|             Lampung|Oposisi|
|        172|Kepulauan Bangka ...|   Ir. Rudianto Tjen|    Laki-Laki|   Komisi I| PDI-P|                   -|Kepulauan Bangka ...|Oposisi|
|        173|      Kepulauan Riau|Mayjen. TNI (Purn...|    Laki-Laki|  Komisi IV| PDI-P|Wakil Ketua Badan...|      Kepulauan Riau|Oposisi|
|        174|       DKI Jakarta I|       Putra Nababan|    Laki-Laki| Komisi VII| PDI-P|                   -|         DKI Jakarta|Oposisi|
+-----------+--------------------+--------------------+-------------+-----------+------+--------------------+--------------------+-------+
only showing top 20 rows

+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+-----------+------------------+
|No. Anggota|Daerah pemilihan|                Nama|Jenis Kelamin|     Komisi|  Fraksi|             Jabatan|   Provinsi|           Koalisi|
+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+-----------+------------------+
|         28|   Jawa Tengah I|H. Alamuddin Dimy...|    Laki-Laki|  Komisi IX|     PKB|                   -|Jawa Tengah|           Oposisi|
|        107|   Jawa Tengah I|        Jamal Mirdad|    Laki-Laki|   Komisi I|Gerindra|                   -|Jawa Tengah|Koalisi Pemerintah|
|        189|   Jawa Tengah I|Mochamad Herviano...|    Laki-Laki|   Komisi V|   PDI-P|                   -|Jawa Tengah|           Oposisi|
|        190|   Jawa Tengah I|Samuel J. D. Watt...|    Laki-Laki| Komisi VII|   PDI-P|                   -|Jawa Tengah|           Oposisi|
|        310|   Jawa Tengah I|Firnando Hadityo ...|    Laki-Laki|  Komisi VI|  Golkar|                   -|Jawa Tengah|Koalisi Pemerintah|
|        390|   Jawa Tengah I|        Drs. Fadholi|    Laki-Laki|   Komisi V|  NasDem|                   -|Jawa Tengah|           Oposisi|
|        464|   Jawa Tengah I|Dr. H. Muhammad H...|    Laki-Laki| Komisi XII|     PKS|                   -|Jawa Tengah|           Oposisi|
|        554|   Jawa Tengah I|dr. Raja Faisal M...|    Laki-Laki|Komisi XIII|Demokrat|                   -|Jawa Tengah|Koalisi Pemerintah|
|         29|  Jawa Tengah II|Hj. Hindun Anisah...|    Perempuan|  Komisi IV|     PKB|                   -|Jawa Tengah|           Oposisi|
|        108|  Jawa Tengah II|        Abdul Wachid|    Laki-Laki|Komisi VIII|Gerindra|Wakil Ketua Komis...|Jawa Tengah|Koalisi Pemerintah|
|        191|  Jawa Tengah II|Dr. H. Musthofa S...|    Laki-Laki|  Komisi XI|   PDI-P|                   -|Jawa Tengah|           Oposisi|
|        192|  Jawa Tengah II|Gilang Dhielafara...|    Laki-Laki| Komisi III|   PDI-P|                   -|Jawa Tengah|           Oposisi|
|        311|  Jawa Tengah II|Andhika Satya Was...|    Laki-Laki| Komisi VII|  Golkar|                   -|Jawa Tengah|Koalisi Pemerintah|
|        312|  Jawa Tengah II|     Jamaludin Malik|    Laki-Laki|Komisi XIII|  Golkar|                   -|Jawa Tengah|Koalisi Pemerintah|
|        391|  Jawa Tengah II|   Lestari Moerdijat|    Perempuan|   Komisi X|  NasDem|  Wakil Ketua MPR RI|Jawa Tengah|           Oposisi|
|         30| Jawa Tengah III|        Marwan Jafar|    Laki-Laki|   Komisi I|     PKB|                   -|Jawa Tengah|           Oposisi|
|         31| Jawa Tengah III|        Eva Monalisa|    Perempuan| Komisi VII|     PKB|                   -|Jawa Tengah|           Oposisi|
|        109| Jawa Tengah III|Danang Wicaksana ...|    Laki-Laki|   Komisi V|Gerindra|                   -|Jawa Tengah|Koalisi Pemerintah|
|        193| Jawa Tengah III|Haryanto S.H., M....|    Laki-Laki|   Komisi V|   PDI-P|                   -|Jawa Tengah|           Oposisi|
|        194| Jawa Tengah III|Dr. Evita Nursant...|    Perempuan| Komisi VII|   PDI-P|Wakil Ketua Komis...|Jawa Tengah|           Oposisi|
+-----------+----------------+--------------------+-------------+-----------+--------+--------------------+-----------+------------------+
only showing top 20 rows

In [155]:
# Group by Fraksi
df_dpr.groupBy("Fraksi").count().show()

# Group by Provinsi
df_dpr.groupBy("Provinsi").count().show()

+--------+-----+
|  Fraksi|count|
+--------+-----+
|   PDI-P|  109|
|     PKS|   53|
|Demokrat|   44|
|     PAN|   48|
|  NasDem|   69|
|  Golkar|  102|
|     PKB|   68|
|Gerindra|   86|
+--------+-----+

+-------------------+-----+
|           Provinsi|count|
+-------------------+-----+
|  Kalimantan Tengah|    6|
|              Papua|    3|
|     Sulawesi Barat|    4|
|     Kepulauan Riau|    4|
|Nusa Tenggara Barat|   11|
|     Sulawesi Utara|    6|
|     Sumatera Utara|   30|
|        DKI Jakarta|   21|
|   Kalimantan Utara|    3|
|      Papua Selatan|    3|
|     Sumatera Barat|   14|
|   Kalimantan Barat|   12|
|   Sulawesi Selatan|   24|
|               Aceh|   13|
|        Papua Barat|    3|
|       Papua Tengah|    3|
|   Kalimantan Timur|    8|
|               Bali|    9|
|              Jambi|    8|
|       Maluku Utara|    3|
+-------------------+-----+
only showing top 20 rows

In [146]:
from pyspark.sql import functions as F

# Hitung total anggota
df_dpr.agg(F.count("*").alias("Total Anggota")).show()

# Jumlah anggota per fraksi
df_dpr.groupBy("Fraksi").agg(F.count("*").alias("Jumlah_Anggota")).show()

# Jumlah anggota per provinsi
df_dpr.groupBy("Provinsi").agg(F.count("*").alias("Jumlah_Anggota")).show()

# Jumlah anggota laki-laki & perempuan per fraksi
df_dpr.groupBy("Fraksi", "Jenis Kelamin").agg(F.count("*").alias("Jumlah")).show()

+-------------+
|Total Anggota|
+-------------+
|          579|
+-------------+

+--------+--------------+
|  Fraksi|Jumlah_Anggota|
+--------+--------------+
|   PDI-P|           109|
|     PKS|            53|
|Demokrat|            44|
|     PAN|            48|
|  NasDem|            69|
|  Golkar|           102|
|     PKB|            68|
|Gerindra|            86|
+--------+--------------+

+-------------------+--------------+
|           Provinsi|Jumlah_Anggota|
+-------------------+--------------+
|  Kalimantan Tengah|             6|
|              Papua|             3|
|     Sulawesi Barat|             4|
|     Kepulauan Riau|             4|
|Nusa Tenggara Barat|            11|
|     Sulawesi Utara|             6|
|     Sumatera Utara|            30|
|        DKI Jakarta|            21|
|   Kalimantan Utara|             3|
|      Papua Selatan|             3|
|     Sumatera Barat|            14|
|   Kalimantan Barat|            12|
|   Sulawesi Selatan|            24|
|               Aceh|            13|
|        Papua Barat|             3|
|       Papua Tengah|             3|
|   Kalimantan Timur|             8|
|               Bali|             9|
|              Jambi|             8|
|       Maluku Utara|             3|
+-------------------+--------------+
only showing top 20 rows

+--------+-------------+------+
|  Fraksi|Jenis Kelamin|Jumlah|
+--------+-------------+------+
|     PKB|    Laki-Laki|    52|
|Gerindra|    Laki-Laki|    67|
|  Golkar|    Perempuan|    20|
|Demokrat|    Perempuan|    10|
|   PDI-P|    Perempuan|    27|
|Gerindra|    Perempuan|    19|
|  NasDem|    Laki-Laki|    49|
|     PKS|    Perempuan|     9|
|  NasDem|    Perempuan|    20|
|   PDI-P|    Laki-Laki|    82|
|     PKS|    Laki-Laki|    44|
|     PAN|    Laki-Laki|    40|
|Demokrat|    Laki-Laki|    34|
|  Golkar|    Laki-Laki|    82|
|     PAN|    Perempuan|     8|
|     PKB|    Perempuan|    16|
+--------+-------------+------+